[Unit]
Description=MariaDB database server
After=network.target

[Service]
Type=notify
ProtectSystem=full
NoNewPrivileges=true
ProtectHome=true
SendSIGKILL=no
KillSignal=SIGTERM
PermissionsStartOnly=true
ExecStartPre=/bin/sh -c "systemctl unset-environment _WSREP_START_POSITION"
ExecStartPost=/bin/sh -c "systemctl unset-environment _WSREP_START_POSITION"
ExecStart={{conda_path}}/bin/mysqld --no-defaults --bind-address=0.0.0.0 --datadir={{data_dir}}/db_service --user={{uid}}
Restart=on-failure
RestartSec=5
StartLimitBurst=5


[Install]
WantedBy=multi-user.target
