[Unit]
Description=MariaDB database server
After=network.target

[Service]
Type=notify
ProtectSystem=full
NoNewPrivileges=true
ProtectHome=true
Restart=on-abort
SendSIGKILL=no
KillSignal=SIGTERM
PermissionsStartOnly=true
ExecStartPre=/bin/sh -c "systemctl unset-environment _WSREP_START_POSITION"
ExecStartPost=/bin/sh -c "systemctl unset-environment _WSREP_START_POSITION"
ExecStart={{conda_path}}/bin/mysqld --user={{uid}}

[Install]
WantedBy=multi-user.target
