[Unit]
Description=Freva vault server
After=network.target

[Service]
Type=simple
ProtectSystem=full
PermissionsStartOnly=true
NoNewPrivileges=true
ProtectHome=true
KillSignal=SIGTERM
Restart=on-abort
ExecStartPre=/bin/sh -c "PATH={{ conda_path }}/bin:$PATH \
    {{ conda_path }}/bin/python\
    {{ conda_path }}/share/freva-rest-server/vault/server/runserver.py \
    -c {{ conda_path }}/share/freva-rest-server/vault/server/vault-server-tls.hcl"
ExecStart=/bin/sh -c "PATH={{ conda_path }}/bin:$PATH \
    {{conda_path}}/bin/uvicorn --workers 2 --app-dir \
    {{ conda_path }}/share/freva-rest-server/vault/server \
    --host 0.0.0.0 --port 5002 runserver:app"
Environment="CONDA_PREFIX={{ conda_path }}"
Environment="ROOT_PW={{ root_passwd }}"
Environment="VERSION={{ vault_version }}"
UMask=007

[Install]
WantedBy=multi-user.target
