ansible/*
*.img
*.spec
pyinstaller/cowsay
cloud-init/temp
test.conf
freva_web.toml
config/evaluation_system.conf
config/inventory
__pycache__/*
build/
.tox/
*.tmpl
docs/_build/
dist/
my.log
src/freva_deployment/__pycache__
src/freva_deployment/cli/__pycache__
src/freva_deployment/ui/deployment_tui/__pycache__
src/freva_deployment/ui/__pycache__
*.pyc
*.egg*
*.key
*.crt
