[Unit]
Description=Start the dask %i service.
After=network.target

[Service]
Type=simple
ExecStartPre=/usr/bin/env python3 -c "import getpass,urllib.request; urllib.request.urlretrieve('https://raw.githubusercontent.com/FREVA-CLINT/freva-nextgen/main/freva-data-portal-worker/data-loader', f'/tmp/data-loader-{getpass.getuser()}')"
ExecStart=/bin/sh -c "/bin/sh /tmp/data-loader-$(whoami) %i"
Environment="API_REDIS_USER={{username}}"
Environment="REDIS_USER={{username}}"
Environment="API_REDIS_PASSWORD={{password}}"
Environment="REDIS_PASSWD={{password}}"

Restart=no

[Install]
WantedBy=default.target
