version: '3'
services:
  {{db_name}}:
{% if (become == true and ansible_become_user == 'root') or ansible_user == 'root' %}
    user: {{uid}}:{{gid}}
{% else %}
    user: root:0
    entrypoint: /tmp/entrypoint.sh
{% endif %}
    image: docker.io/mariadb:{{db_version}}
    hostname: {{db_name}}
{% if debug %}
    network_mode: host
{% else %}
    networks:
      - {{db_name}}
{% endif %}
{% if command is defined %}
    command: {{command}}
{% endif %}
    environment:
      - ROOT_PW={{ root_passwd }}
      - HOST={{ db_host }}
      - NUM_BACKUPS=7
      - PROJECT={{ project_name }}
      - MYSQL_USER={{db_user}}
      - MYSQL_PASSWORD={{db_passwd}}
      - MYSQL_DATABASE={{db}}
      - MYSQL_ROOT_PASSWORD={{ root_passwd }}
      - MARIADB_USER={{db_user}}
      - MARIADB_PASSWORD={{db_passwd}}
      - MARIADB_DATABASE={{db}}
      - MARIADB_ROOT_PASSWORD={{ root_passwd }}
      - BACKUP_DIR=/var/lib/mysql/backup
    volumes:
{% for volume in db_volumes %}
      - {{volume}}
{% endfor %}
{% if root_pw is defined %}
      - /tmp/reset_root_pw.sh:/tmp/reset_root_pw.sh:z
{% endif %}
    container_name: {{db_name}}
    tty: true
    ports:
      - {{db_port}}:3306
    depends_on:
      - {{vault_name}}

  {{vault_name}}:
{% if (become == true and ansible_become_user == 'root') or ansible_user == 'root' %}
    user: {{uid}}:{{gid}}
{% else %}
    user: root:0
{% endif %}
    image: ghcr.io/freva-clint/freva-vault:{{vault_version}}
    hostname: {{db_name}}
    cap_add:
      - IPC_LOCK
      - SYS_NICE
    dns:
      - 8.8.8.8
      - 8.8.4.4
{% if debug %}
    network_mode: host
{% else %}
    networks:
      - {{db_name}}
{% endif %}
    environment:
      - ROOT_PW={{ root_passwd }}
    volumes:
{% for volume in vault_volumes %}
      - {{volume | regex_replace('^~', ansible_env.HOME)}}
{% endfor %}
    container_name: {{vault_name}}
    tty: true
    ports:
      - 5002:5002

networks:
{% if debug %}
      hostnet:
        driver: host
{% else %}
    {{db_name}}:
      driver: bridge
{% endif %}
