version: '3'
services:
  {{db_name}}:
    user: {{uid}}:{{gid}}
    image: mariadb:{{db_version}}
    hostname: {{db_name}}
{% if debug %}
    network_mode: host
{% else %}
    networks:
      - {{db_name}}
{% endif %}
    environment:
      - ROOT_PW={{ root_passwd }}
      - HOST={{ db_host }}
      - NUM_BACKUPS=7
      - PROJECT={{ project_name }}
      - MYSQL_USER={{db_user}}
      - MYSQL_PASSWORD={{db_passwd}}
      - MYSQL_DATABASE={{db}}
      - MYSQL_ROOT_PASSWORD={{ root_passwd }}
      - BACKUP_DIR=/var/lib/mysql/backup
    volumes:
{% for volume in db_volumes %}
      - {{volume}}
{% endfor %}
    container_name: {{db_name}}
    tty: true
    ports:
      - {{db_port}}:3306
    command: mariadbd-safe --skip-grant-tables
  {{vault_name}}:
    user: {{uid}}:{{gid}}
    image: ghcr.io/freva-clint/freva-vault:{{vault_version}}
    hostname: {{db_name}}
    cap_add:
      - IPC_LOCK
      - SYS_NICE
    dns:
      - 8.8.8.8
      - 8.8.4.4
{% if debug %}
    network_mode: host
{% else %}
    networks:
      - {{db_name}}
{% endif %}
    environment:
      - ROOT_PW={{ root_passwd }}
    volumes:
{% for volume in vault_volumes %}
      - {{volume | regex_replace('^~', ansible_env.HOME)}}
{% endfor %}
    container_name: {{vault_name}}
    tty: true
    ports:
      - 5002:5002


networks:
{% if debug %}
    hostnet:
      diver: host
{% else %}
    {{db_name}}:
      driver: bridge
{% endif %}
