version: '3'
services:
  {{solr_name}}:
{% if (become == true and ansible_become_user == 'root') or ansible_user == 'root' %}
    user: {{uid}}:{{gid}}
{% else %}
    user: root:0
    command: "-force"
{% endif %}
    image: docker.io/solr:{{solr_version}}
    container_name: {{solr_name}}
    hostname: {{solr_name}}
{% if debug %}
    network_mode: host
{% else %}
    networks:
      - {{freva_rest_name}}
{% endif %}
    environment:
      - CORE=files
      - NUM_BACKUPS=7
      - SOLR_HEAP={{freva_rest_solr_mem}}
    volumes:
{% for volume in solr_volumes %}
      - {{volume}}
{% endfor %}
    tty: true
    ports:
      - 8983:8983

  {{mongo_name}}:
{% if (become == true and ansible_become_user == 'root') or ansible_user == 'root' %}
    container_name: {{mongo_name}}
{% else %}
    container_name: {{mongo_name}}
    user: root:0
    entrypoint: /tmp/entrypoint.sh
{% endif %}
    image: docker.io/mongo:latest
    container_name: {{mongo_name}}
    hostname: {{mongo_name}}
{% if debug %}
    network_mode: host
{% else %}
    networks:
      - {{freva_rest_name}}
{% endif %}
    environment:
      - MONGO_INITDB_DATABASE=search_stats
    volumes:
{% for volume in mongo_volumes %}
      - {{volume}}
{% endfor %}
    ports:
      - 27017:27017
    tty: true

  {{freva_rest_name}}:
{% if (become == true and ansible_become_user == 'root') or ansible_user == 'root' %}
    user: {{uid}}:{{gid}}
{% else %}
    user: root:0
{% endif %}
    image: ghcr.io/freva-clint/freva-rest-api:{{freva_rest_version}}
    hostname: {{freva_rest_name}}
{% if debug %}
    network_mode: host
{% else %}
    networks:
      - {{freva_rest_name}}
{% endif %}
    environment:
      - SOLR_CORE=files
      - API_PORT={{freva_rest_port}}
      - API_URL={{freva_rest_api_url}}
      - COLUMNS=140
      - OIDC_CLIENT_ID={{freva_rest_oidc_client}}
      - OIDC_URL={{freva_rest_oidc_url}}
      - OIDC_CLIENT_SECRET={{freva_rest_oidc_client_secret}}
      - REDIS_HOST={{freva_rest_redis_cache_url}}
      - REDIS_PASS={{password}}
      - REDIS_USER={{username}}
      - REDIS_SSL_CERTFILE=/certs/client-cert.pem
      - REDIS_SSL_KEYFILE=/certs/client-key.pem
{% if debug %}
      - SOLR_HOST=127.0.0.1:8983
      - MONGO_HOST=127.0.0.1:27017
{% else %}
      - SOLR_HOST={{solr_name}}:8983
      - MONGO_HOST={{mongo_name}}:27017
{% endif %}
      - MONGO_PASSWORD={{root_passwd}}
      - MONGO_DB=search_stats
      - MONGO_USER=mongo
    ports:
      - {{freva_rest_port}}:{{freva_rest_port}}
    volumes:
      - {{cert_path}}:/certs:z
    container_name: {{freva_rest_name}}
    command: python3 -m freva_rest.cli {{freva_rest_services}}
    depends_on:
      - {{solr_name}}
      - {{mongo_name}}
    tty: true


networks:
{% if debug  %}
    hostnet:
      driver: host
{% else %}
  {{freva_rest_name}}:
    driver: bridge
{% endif %}
