---
- hosts: freva_rest
  vars:
    ansible_become_user: "{{ freva_rest_ansible_become_user | default('root') }}"
    ansible_user: "{{freva_rest_ansible_user}}"
  tasks:
    - name: Get freva-rest-api version
      ansible.builtin.script:
        cmd: "{{ asset_dir }}/scripts/inspect.sh ghcr.io/freva-clint/freva-rest-api"
      become: "{{ freva_rest_ansible_become_user | default('root') is defined and freva_rest_ansible_become_user | default('root') != '' }}"
      register: freva_rest
    - name: Display freva-rest-api version
      debug:
        msg: "{{ freva_rest.stdout }}"
    - name: Get solr version
      register: solr
      ansible.builtin.script:
        cmd: "{{ asset_dir }}/scripts/inspect.sh solr"
      become: "{{ freva_rest_ansible_become_user | default('root') is defined and freva_rest_ansible_become_user | default('root') != '' }}"
    - name: Display solr version
      debug:
        msg: "{{ solr.stdout }}"

- hosts: web
  vars:
    ansible_become_user: "{{ web_ansible_become_user | default('root') }}"
    ansible_user: "{{web_ansible_user}}"
  tasks:
    - name: Get web version
      register: web
      ansible.builtin.script:
        cmd: "{{ asset_dir }}/scripts/inspect.sh ghcr.io/freva-clint/freva-web"
      become: "{{ web_ansible_become_user | default('root') is defined and web_ansible_become_user | default('root') != '' }}"
    - name: Display web version
      debug:
        msg: "{{ web.stdout }}"

- hosts: db
  vars:
    ansible_become_user: "{{ db_ansible_become_user | default('root') }}"
    ansible_user: "{{db_ansible_user}}"
  tasks:
    - name: Get vault version
      register: vault
      ansible.builtin.script:
        cmd: "{{ asset_dir }}/scripts/inspect.sh ghcr.io/freva-clint/freva-vault"
      become: "{{ db_ansible_become_user | default('root') is defined and db_ansible_become_user | default('root') != '' }}"
    - name: Display vault version
      debug:
        msg: "{{ vault.stdout }}"
    - name: Get db version
      register: db
      ansible.builtin.script:
        cmd: "{{ asset_dir }}/scripts/inspect.sh mariadb"
      become: "{{ db_ansible_become_user | default('root') is defined and db_ansible_become_user | default('root') != '' }}"
    - name: Display db version
      debug:
        msg: "{{ db.stdout }}"


- hosts: core
  vars:
    ansible_user: "{{core_ansible_user}}"
  tasks:
    - name: Get freva version
      register: core
      shell:
        cmd: "{{ core_install_dir | regex_replace('^~', ansible_env.HOME) }}/bin/freva -V 2> /dev/null | awk '{print $NF}';"
    - name: Display freva version
      debug:
        msg: "{{ freva.stdout }}"
