worker_processes auto;
error_log stderr info;
user {{ansible_user}} {{group_name}};

events {
    worker_connections 1024;
}

http {
    include {{data_dir}}/mime.types;
    default_type application/octet-stream;
    sendfile on;
    keepalive_timeout 5;
    server_tokens off;

    upstream freva_backend {
        server localhost:8000;
    }

    upstream databrowser_backend {
        server {{web_freva_rest_host}};
    }

    server {
        listen {{web_port_httpsd}} ssl;
        server_name {{web_server_name}};
        root {{data_dir}}/static/;
        index index.html;

        ssl_certificate {{data_dir}}/server-cert.crt;
        ssl_certificate_key {{data_dir}}/server-key.key;
        ssl_protocols TLSv1.2 TLSv1.3;
        ssl_ciphers "ECDHE-RSA-AES256-GCM-SHA384:DHE-RSA-AES256-GCM-SHA384:ECDHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES128-GCM-SHA256";
        ssl_prefer_server_ciphers on;

        add_header Strict-Transport-Security "max-age=15552000; includeSubdomains;" always;
        add_header X-Frame-Options "SAMEORIGIN";

        location /static/ {
            alias {{data_dir}}/static/;
        }

        location /robots.txt {
            alias {{data_dir}}/static/robots.txt;
        }

        location /favicon.ico {
            alias {{data_dir}}/static/favicon.ico;
        }

        location /under_construction.gif {
            alias {{data_dir}}/static/under_construction.gif;
        }

        location /api/freva-nextgen {
            proxy_pass http://{{web_freva_rest_host}}/api/freva-nextgen;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto https;
        }

        location /api/databrowser/metadata_search {
            proxy_pass http://{{web_freva_rest_host}}/api/freva-nextgen/databrowser/metadata-search;
        }

        location /api/databrowser/data_search {
            proxy_pass http://{{web_freva_rest_host}}/api/freva-nextgen/databrowser/data-search;
        }

        location /api/freva-data-portal {
            proxy_pass http://{{web_freva_rest_host}}/api/freva-nextgen/data-portal;
        }

        location /api/auth {
            proxy_pass http://{{web_freva_rest_host}}/api/freva-nextgen/auth;
        }

        location / {
            proxy_pass http://localhost:8000/;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto https;
        }

        error_log {{data_dir}}/log/nginx-error.log;
        access_log {{data_dir}}/log/nginx-access.log;
    }
}
