[Unit]
Description=Freva rest API server
After=network.target

[Service]
Type=simple
ProtectSystem=full
PermissionsStartOnly=true
NoNewPrivileges=true
ProtectHome=true
KillSignal=SIGTERM
ExecStart=/bin/sh -c "PATH={{ conda_path }}/bin:$PATH {{ conda_path }}/bin/freva-rest-server {{ freva_rest_services }}"
EnvironmentFile={{ data_dir }}/config/service.env
Restart=on-failure
RestartSec=5
StartLimitBurst=5
UMask=007
User={{uid}}
Group={{gid}}
[Install]
WantedBy=multi-user.target
