[Unit]
Description=Freva cache service
After=network.target

[Service]
Type=simple
ProtectSystem=full
PermissionsStartOnly=true
NoNewPrivileges=true
ProtectHome=true
KillSignal=SIGTERM
ExecStartPre=/bin/sh -c "systemctl unset-environment _WSREP_START_POSITION"
ExecStartPost=/bin/sh -c "systemctl unset-environment _WSREP_START_POSITION"
ExecStart={{conda_path}}/bin/start-freva-service redis
Restart=on-failure
RestartSec=5
StartLimitBurst=5
EnvironmentFile={{ data_dir }}/config/service.env
User={{uid}}
Group={{gid}}
UMask=007

[Install]
WantedBy=multi-user.target
