---
- hosts: solr

  vars:
    - ansible_python_interpreter: "{{ solr_ansible_python_interpreter }}"
    - continer_name: "{{ solr_name }}"
    - docker_cmd: >
        -e CORE=files
        -e NUM_BACKUPS=7
        -e SOLR_HEAP={{solr_mem}}
        -v /opt/freva/{{project_name}}/solr_service:/var/solr/data:z
        -v /root/freva-service-config/solr/managed-schema.xml:/opt/solr/managed-schema.xml:z
        -v /root/freva-service-config/solr/create_cores.sh:/docker-entrypoint-initdb.d/create_cores.sh:z
        -v /root/freva-service-config/solr/synonyms.txt:/opt/solr/synonyms.txt:z
        -v /root/freva-service-config/solr/daily_backup.sh:/usr/local/bin/daily_backup:z
        --name {{ solr_name }}
        -p {{ solr_port }}:8983 -t
        -t solr:latest
  tasks:
    - name: Copying docker/podman wrapper script
      copy:
        src: "{{ asset_dir }}/scripts/docker-or-podman"
        dest: /usr/local/bin/docker-or-podman
        mode: "0775"
      become: true
    - name: Registering systemctl path
      stat:
        path: /usr/bin/systemctl
      register: systemctl
    - name: Registering anacron path
      stat:
        path: /etc/cron.daily
      register: cron
    - name: Stopping services and deleting existing containers
      shell: >
        systemctl stop {{solr_name}};
        /usr/local/bin/docker-or-podman rm {{solr_name}};
        /usr/local/bin/docker-or-podman rmi -f {{solr_name}};
        /usr/local/bin/docker-or-podman rmi -f solr;
        exit 0
      ignore_errors: true
      become: true
    - pause: seconds=5
    - name: Deleting config file
      file:
        state: absent
        force: true
        path: "/root/freva-service-config/"
      become: true
    - name: Creating docker network
      shell: >
        /usr/local/bin/docker-or-podman network create "{{ project_name }}";
        exit 0
      ignore_errors: true
      become: true
    - name: Cleaning existing directory structure
      file:
        path: /opt/freva/{{ project_name }}/solr_service
        state: absent
      become: true
      when: wipe == true
    - name: Creating directory structure
      file:
        path: /opt/freva/{{ project_name }}/solr_service
        state: directory
        owner: 8983
        group: 8983
        recurse: true
      become: true
    - name: Getting additional configurations
      become: true
      git:
        repo: https://github.com/FREVA-CLINT/freva-service-config.git
        dest: /root/freva-service-config
        update: true
    - name: Copy systemd files
      copy:
        src: "{{ asset_dir }}/scripts/create_systemd.py"
        dest: /tmp/create_systemd.py
        mode: "0755"
    - name: Pulling container
      become: true
      shell: /usr/local/bin/docker-or-podman pull solr:latest
    - name: Copy cron create script to target machine
      copy: src="{{ asset_dir }}/scripts/create_cron.sh" dest=/tmp/solr_service/
    - name: Creating the solr docker container
      become: true
      shell: /usr/local/bin/docker-or-podman run -d {{docker_cmd}}
    - name: Starting solr service
      become: true
      shell: /tmp/create_systemd.py {{solr_name}} --enable
      when: systemctl.stat.exists == true
    - pause: seconds=3
    - name: Creating cron jobs
      become: true
      shell: >
        sh /tmp/solr_service/create_cron.sh "{{ solr_name }}" "{{solr_email}}"
      when: systemctl.stat.exists == true
    - name: Deleting auxillary files
      file:
        state: absent
        path: /tmp/create_systemd.py
