version: '3'
services:
  {{freva_rest_name}}:
{% if (become == true and ansible_become_user == 'root') or ansible_user == 'root' %}
    user: {{uid}}:{{gid}}
{% else %}
    user: root:0
{% endif %}
    image: ghcr.io/freva-clint/freva-rest-api:{{freva_rest_version}}
    hostname: {{freva_rest_name}}
    environment:
      - API_SOLR_CORE=files
      - SOLR_HEAP={{freva_rest_solr_mem}}
      - API_PORT={{freva_rest_port}}
      - SOLR_HOST=0.0.0.0
      - API_PROXY={{freva_rest_proxy_url}}
      - COLUMNS=140
      - API_OIDC_CLIENT_ID={{freva_rest_oidc_client}}
      - API_OIDC_DISCOVERY_URL={{freva_rest_oidc_url}}
      - API_OIDC_CLIENT_SECRET={{freva_rest_oidc_client_secret}}
      - API_REDIS_HOST={{freva_rest_redis_cache_url}}
      - API_REDIS_PASSWORD={{password}}
      - API_REDIS_USER={{username}}
      - API_REDIS_SSL_CERTFILE=/certs/client-cert.pem
      - API_REDIS_SSL_KEYFILE=/certs/client-key.pem
      - API_SOLR_HOST=127.0.0.1:8983
      - API_MONGO_HOST=127.0.0.1:27017
      - API_MONGO_PASSWORD={{freva_rest_db_passwd}}
      - API_MONGO_DB=search_stats
      - API_MONGO_USER={{freva_rest_db_user}}
      - USE_SOLR=1
      - USE_MONGODB=1
    ports:
      - {{freva_rest_port}}:{{freva_rest_port}}
      - 8983:8983
      - 27017:27017
    volumes:
      - {{cert_path}}:/certs:z
{% for volume in rest_volumes %}
      - {{volume}}
{% endfor %}
    container_name: {{freva_rest_name}}
    command:  {{freva_rest_services}}
    tty: true
