---
apiVersion: v1
kind: Service
metadata:
  name: vault
spec:
  selector:
    app: vault
  ports:
    - port: 5002
      targetPort: 5002
{% if vault_expose_method == 'reverse_proxy' %}
      nodePort: 30502
{% endif %}
  type: {% if vault_expose_method == 'reverse_proxy' %}NodePort{% elif vault_expose_method == 'ingress' %}ClusterIP{% else %}ClusterIP{% endif %}

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: vault
spec:
  replicas: 1
  selector:
    matchLabels:
      app: vault
  template:
    metadata:
      labels:
        app: vault
    spec:
      containers:
        - name: vault
          image: ghcr.io/freva-clint/freva-vault:{{ vault_version }}
          ports:
            - containerPort: 5002
{% if vault_expose_method == 'hostport' %}
              hostPort: 5002
{% endif %}
          env:
            - name: ROOT_PW
              value: "{{ root_passwd }}"
            - name: KEY_FILE
              value: /vault/file/keys
          volumeMounts:
            - name: vault-data
              mountPath: /vault/file
      volumes:
        - name: vault-data
          emptyDir: {}

{% if vault_expose_method == 'ingress' %}
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: vault-ingress
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
spec:
  rules:
    - host: {{ vault_ingress_host | default('vault.test.local') }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: vault
                port:
                  number: 5002
{% endif %}
