[Unit]
Description=Freva web Porxy server
After=network.target

[Service]
Type=simple
ProtectSystem=full
PermissionsStartOnly=true
NoNewPrivileges=true
ProtectHome=true
KillSignal=SIGTERM
ExecStart={{conda_path}}/bin/start-freva-service -s nginx
EnvironmentFile={{ data_dir }}/config/service-nginx.env
Environment="PATH={{conda_path}}/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin"
StandardOutput=journal
StandardError=journal
Restart=on-failure
RestartSec=5
StartLimitBurst=5
UMask=007
[Install]
WantedBy=multi-user.target
