[Unit]
Description=Freva Web Redis server
After=network.target

[Service]
Type=simple
PermissionsStartOnly=true
NoNewPrivileges=true
KillSignal=SIGTERM
ExecStart={{ bash_cmd }} -c "{{conda_path}}/bin/start-freva-service -s redis"
Environment="PATH={{conda_path}}/bin:{{ ansible_env.PATH }}"
StandardOutput=journal
StandardError=journal
EnvironmentFile={{ data_dir }}/config/service-redis.env
Restart=on-failure
RestartSec=5
StartLimitBurst=5
UMask=007
ReadWritePaths={{conda_path }}
{% if (ansible_become == true and ansible_become_user == 'root') or ansible_user == 'root' %}
ProtectHome=true
ProtectSystem=full
User={{uid}}
Group={{gid}}
{% endif %}
[Install]
WantedBy=multi-user.target
