[Unit]
Description=Freva Web app
After={{web_cache_name}}.service {{web_proxy_name}}.service
Requires={{web_cache_name}}.service {{web_proxy_name}}.service

[Service]
Type=simple
ProtectSystem=full
PermissionsStartOnly=true
NoNewPrivileges=true
ProtectHome=true
KillSignal=SIGTERM
ExecStart=/bin/sh init_django.sh
WorkingDirectory={{ data_dir }}/app
EnvironmentFile={{ data_dir }}/config/service-django.env
Environment="PATH={{conda_path}}/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin"
StandardOutput=journal
StandardError=journal
Restart=on-failure
RestartSec=5
StartLimitBurst=5
UMask=007
User={{uid}}
Group={{gid}}
[Install]
WantedBy=multi-user.target
