version: '3'
services:
  {{web_cache_name}}:
    image: docker.io/redis:latest
{% if (become == true and ansible_become_user == 'root') or ansible_user == 'root' %}
    user: {{uid}}:{{gid}}
{% else %}
    user: root:0
    entrypoint: /tmp/entrypoint.sh
{% endif %}
    image: docker.io/redis:latest
    hostname: {{ web_cache_name }}
    container_name: {{ web_cache_name }}

{% if debug %}
    network_mode: host
{% else %}
    networks:
      - {{web_name}}
{% endif %}
    tty: true


  {{web_name}}:
{% if (become == true and ansible_become_user == 'root') or ansible_user == 'root' %}
    user: {{uid}}:{{gid}}
{% else %}
    user: root:0
{% endif %}
    image: ghcr.io/freva-clint/freva-web:{{web_version}}
    container_name: {{web_name}}
    hostname: {{web_name}}
{% if debug %}
    network_mode: host
{% else %}
    networks:
      - {{web_name}}
{% endif %}
    environment:
      - EVALUATION_SYSTEM_CONFIG_FILE={{core_root_dir|regex_replace('^~', ansible_env.HOME)}}/freva/evaluation_system.conf
      - DJANGO_SUPERUSER_PASSWORD={{ root_passwd }}
      - ALLOWED_HOSTS={{web_allowed_hosts | join(',')}}
      - FREVA_WEB_CONFIG_FILE={{web_config_file}}
      - SCHEDULER_HOST={{web_scheduler_host | join(',')}}
      - REDIS_HOST={{web_cache_name}}
      - CSRF_TRUSTED_ORIGINS={{web_csrf_trusted_origins | join(',')}}
      - FREVA_BIN={{web_freva_bin}}
      - COLUMNS=140
      - FREVA_REST_URL=http://{{web_freva_rest_host}}
    volumes:
      - {{ core_root_dir | regex_replace('^~', ansible_env.HOME)}}:{{ core_root_dir | regex_replace('^~', ansible_env.HOME)}}:ro
      - {{ core_scheduler_output_dir|regex_replace('^~', ansible_env.HOME)}}:{{ core_scheduler_output_dir | regex_replace('^~', ansible_env.HOME)}}:ro
      - django-static:/opt/freva_web/static:z
      - django-migration:/opt/freva_web/base/migrations:z
    tty: true
    ports:
      - 8000:8000
    depends_on:
      - {{web_cache_name}}

networks:
{% if debug %}
    hostnet:
      driver: host
{% else %}
  {{web_name}}:
    driver: bridge
{% endif %}

volumes:
    django-static:
    django-migration:
