name: Build and publish the container image
run-name: ${{ github.actor }} is building the container

"on":
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build-and-push-vault-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      -
        name: Checkout repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      -
        name: Get tag
        id: repository
        run: |
          echo "repo=$(echo ${{ github.repository }}|tr 'A-Z' 'a-z')" >> $GITHUB_OUTPUT

      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      -
        name: Log in to the Container registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      -
        name: Build and push vault image
        uses: docker/build-push-action@v4
        with:
          context: assets/vault/
          platforms: linux/amd64
          push: true
          tags: |
            ghcr.io/${{ steps.repository.outputs.repo }}/vault:latest

      -
        name: Build and push server map image
        uses: docker/build-push-action@v4
        with:
          context: assets/servers/
          platforms: linux/amd64
          push: true
          tags: |
            ghcr.io/${{ steps.repository.outputs.repo }}/freva-map:latest
